.card-two{
    width: 20rem;
}
.img-overlay-card-two{
    top:35%;
}
[id='toggle-heart-two'] {
    position: absolute;
    left: -100vw;
  }
  [for='toggle-heart-two'] {
    color: #aab8c2;
    font-size: 1.7rem;
    padding: 1rem;
  }
  
  [id='toggle-heart-two']:checked + label {
    color: #e2264d;
  }